h2 {
    text-align: center;
    color: var(--navy);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.toolscomponent-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}